.clang-format

build/
build-*/
cmake-build-*/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
Makefile
*.cmake
!CMakeLists.txt

*.o
*.obj
*.lo
*.slo

*.exe
*.out
*.app
cgit

*.a
*.lib
*.so
*.so.*
*.dylib
*.dll

.cache/

.DS_Store
.AppleDouble
.LSOverride
._*

.vscode/
*.code-workspace

.idea/
cmake-build-*/

.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

*.xcodeproj
*.xcworkspace
xcuserdata/

*.swp
*.swo
*~

*~
\#*\#
.\#*

*.tmp
*.bak
*.log

*.dSYM/
*.su
*.idb
*.pdb
/core
vgcore.*

vcpkg_installed/
.conan/

docs/html/
docs/latex/
*.pdf

/refactoring/

